<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minisena</title>
    <link rel="stylesheet" href="/Styles.css">
    <script defer src="/Login.js"></script>
</head>
<body>
    <form class="login_form" action="/auth/login" method="post">
        <div class="login_header">
            <h1>LOGAR-SE</h1>
        </div>
        
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="login_input">
            
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password">
            
            <spam>Todas as senhas são criptrografadas</spam>
            
            <button type="submit" class="login_button" disabled>Perder dinheiro</button>
    </form>
    <div>
        <p>Não possui uma conta? <a href="signup">Logar-se</a></p>
        <p><a href="/">Voltar</a></p>
    </div>

</body>
</html>